<div class="footer text-center">
    &copy; JsonStub | 
    <a href="mailto:support@jsonstub.com" target="_blank">Support</a> | 
    <a href="https://twitter.com/JsonStub" target="_blank">Twitter</a> <br/>
    <p class="powered-by">
        Powered by <a href="http://emberjs.com/" target="_blank" class="ember-link">Ember.js</a>,  
        <a href="http://symfony.com/" target="_blank" class="symfony-link">Symfony</a>, &amp;
        <a href="https://www.digitalocean.com/?refcode=42241824138c" target="_blank" class="digital-ocean-link">Digital Ocean</a>
    </p>
</div>