<div class="footer text-center">
    &copy; JsonStub | 
    <a href="mailto:support@jsonstub.com" target="_blank">Support</a> | 
    <a href="https://twitter.com/JsonStub" target="_blank">Twitter</a> | 
    Powered by <img src='/assets/emberjs.png' width="50" class="ember-logo" />
</div>