<div class="row button-row">
    <div class="col-md-6 text-left">
        <button type="submit" class="btn btn-primary" {{bind-attr disabled=saving}}>
            {{#if saving}}
                Saving...
            {{else}}
                Save
            {{/if}}
        </button>
    </div>
    <div class="col-md-6 text-right">
        {{#unless isNew}}
            <button type="button" {{action delete}} class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        {{/unless}}
        <button type="button" {{action cancel}} class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span> Cancel
        </button>
    </div>
</div>