<div class="container">

  <div class="welcome">
    <h1 class="headline">Fake the backend while you develop the frontend</h1>
    <p class="secondary">
        Now all you need is your favorite javascript framework or mobile development environment to start building apps.
    </p>
    <br/>
    {{#link-to 'signup' class="btn btn-lg btn-info button-shadow"}}Get Started{{/link-to}}
  </div>

</div><!-- /.container -->

<div class="row home-divider">
    <hr/>
</div>

<div class="row demo-box">
    <div class="col-md-12 text-center">
        <h3>Step 1.</h3>
        <p>Create a new project.</p><br/>
        <img src='/assets/demo/new-project.png' class="img-responsive img-thumbnail demo-modal-pic"/>
    </div>
</div>

<div class="row demo-box">
    <div class="col-md-12 text-center">
        <h3>Step 2.</h3>
        <p>Create a request.</p><br/>
        <img src='/assets/demo/new-request.png' class="img-responsive img-thumbnail demo-modal-pic"/>
    </div>
</div>

<div class="row demo-box">
    <div class="col-md-12 text-center">
        <h3>Step 3.</h3>
        <p>Create a fake response.</p><br/>
        <img src='/assets/demo/new-response.png' class="img-responsive img-thumbnail demo-modal-pic"/>
    </div>
</div>

<div class="row demo-box">
    <div class="col-md-12 text-center">
        <h3>Step 4.</h3>
        <p>Use your user api and project keys in headers to make requests against <strong>jsonstub.com</strong> and get back your fake responses.</p><br/>
        <img src='/assets/demo/demo-project.png' class="img-responsive img-thumbnail"/>
    </div>
</div>

<div class="row bottom-signup">
    <div class="col-md-12 text-center">
        {{#link-to 'signup' class="btn btn-lg btn-info button-shadow"}}Yep, this looks useful.{{/link-to}}
    </div>
</div>

{{partial "partials/footer"}}